<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Outfit Generator / Loading</title>
        
        <link rel="stylesheet" href="outfitGeneratorLoading.css">
    </head>

    <body>
        <div data-layer="120cc3ab-5d7b-432f-a62b-2ee610765975" class="outfitGeneratorLoading">        <div data-layer="0cc64517-922d-4d5e-b632-c83a84884863" class="newYork"></div>
        <div data-layer="7a1fcdbf-84a9-45a4-bd3b-477e34abf42d" class="group29">            <div data-layer="e8166de1-f193-4a9b-a835-1cce914e44c4" class="a6622dfaee5d281cf341d264fa2b3aa2"></div>
            <div data-layer="7a39ff00-61e7-4db6-be06-b11fd0216719" class="inAFewSecondsYoullLookAmazing">In a few seconds you'll look amazing</div>
            <div data-layer="5a2dcee5-673c-4dc8-953a-2ec644873983" class="loading">Loading...</div>
</div>
</div>


    
    </body>
    </html>
            